/*@import url(//db.onlinewebfonts.com/c/64066084d97b188b68757ef02ab5faa5?family=Trim+Web+Regular);*/
@font-face {
    font-family: Trim-Bold;
    src: url(fonts/Trim-Bold.otf);
}
@font-face {
    font-family: Trim-Medium;
    src: url(fonts/Trim-Medium.otf);
}
body{
    background-color: #C5D7E1!important;
    max-height:100vh;
    overflow: hidden;
}
.logo{
    width:100%;
    margin-left:20%;
}
.slide{
    height:100vh;
    padding:5%;
    position:relative;
}
.popup{
    display: none;
    position:fixed;
    top:0;
    width:100%;
    background-color: rgba(0,0,0,0.75);
    backdrop-filter: blur(20px);
    height:100vh;
    z-index:1031;
    padding:0 30%;
}
.popup-wide{
    padding:0 10%;
}
.popup-inner{
    border-radius:40px;
    margin:auto;
    padding:3em 3em;
    background:white;
    box-shadow: 0px 0px 5px rgba(100,100,100,0.7);
}
.header{
    padding:10px 0;
}
.story{
    position:absolute;
    z-index:1;
    display: none;
}
.story-grid{
    position:relative;
    height:100%;
    width:70%;
}
.story-btn{
    width: 10px;
    height: 10px;
    margin:5px;
    border-radius: 15px;
    background-color: #fff;
    display: block;
    position: relative;
    margin:10px;
}
.story-btn::after{
    display: block;
    position: absolute;
    content: '';
    border:1px solid #fff;
    width:20px;
    height:20px;
    border-radius: 30px;
    left:-5px;
    top:-5px;
    transition:all 0.2s linear;

}
.story:nth-child(1){
    top:10%;
    left:20%;
}
.story:nth-child(2){
    top:20%;
    left:20%;
}
.story:nth-child(3){
    top:40%;
    left:30%;
}
.story:nth-child(4){
    top:50%;
    left:60%;
}
.story:nth-child(5){
    top:80%;
    left:50%;
}
.story:nth-child(6){
    top:20%;
    left:80%;
}
.story-btn:hover::after{
    width:25px;
    height:25px;
    left:-7.5px;
    top:-7.5px;
}
.popover{
    width:400px;
}
.story-img{
    width:100%;
}

.leaderboard{

}
.podium{

}
.leaderboard{
}
.podium-profilepicture{
/*border:3px solid gray; /*#rgba(200, 200, 200, 0.7);*/
display: block;
border-radius:100px;
position:relative;
box-shadow: 0px 0px 5px rgba(100,100,100,0.7);
}
.podium-profilepicture-wrapper{
    
    padding:5px;
    display: inline-block;
    border-radius: 100%;
}
.podium .col:nth-child(odd) .podium-profilepicture-wrapper{
    margin:22.5px auto;
    border:2px solid white;
}
.podium .col:nth-child(odd) .podium-profilepicture{
    width:75px;
    height:75px;
    

}
.podium .col:nth-child(2) .podium-profilepicture-wrapper{
    margin:5px 0;
    background-color: transparent;
    border: 2px solid #183457;
}
.podium .col:nth-child(2) .podium-profilepicture{
    width:100px;
    height:100px;
    
}
.podium-name{
    font-weight: bold;
}
.podium-pic{
    max-width:70%;
    margin:auto;
    display:block;
}
.rest-of-best .col{
padding: 2px 0;

}
.lb-mid-col{
    border-left: 2px solid white;
    border-right:2px solid white;
}
.jersey-wrapper{
    padding-left: 5%;
    position:relative;
    width:100%;
}
.jersey-wrapper img{
    position:relative;
    display:block;
    max-width:100%;
    width:100%;
    transition:all 1s ease-in-out;
    
}
.jersey-center{
    margin:auto 0% auto 115%;
    width:100% !important;
}
.landing-main-text{
    position:absolute;
    left:25%;
    top:30%;
    width:50%
}
.landing-main-text img{
    width:100%;
    display:block;
}
#landingSubtitle{
    position:absolute;
    bottom:5%;
    left:5%;
}
.text-wrapper{
    overflow: hidden;
}
.big-text{
    font-family: Trim-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1em;
    position:relative;
    color: #183457;
    letter-spacing: 0.05em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.big-text2{
    font-family: Trim-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1em;
    position:relative;
    color: #183457;
    letter-spacing: 0.05em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.normal-text{
    font-family: Trim-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1em;
    position:relative;
    color: #000;
    letter-spacing: 0.05em;
    /*text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);*/
}
#slide-t-1,#slide-t-2,#slide-t-3{
    display:none;
    overflow: hidden;
}
.color-dblue{
    color:#183457;
}
.color-lblue{
    color:#297BBE;
    transition: all 0.3s linear;
}
.color-lblue:hover{
    background:linear-gradient(to right, #297BBE 20%, #3B5998 40%, #3B5998 60%, #297BBE 80%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    animation:shine 1s linear infinite;
    color: #297BBE;
    
  /*box-shadow: inset 500px 0 0 0 #54b3d6;;*/
  
}
@keyframes shine{
    to {
        background-position: 200% center;
      }
}
.btn-custom{
    padding:13px 20px;
    background-color:#58ABD3;
    border-radius: 50px;
    color:#fff;
    font-size:15px;
    border:none;
}
.card-container{
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    height:140px;
    margin-top: 20px;
}
.s-1-card{
    border-radius:20px;
    padding:10px 5px 10px;
    border:2px solid #afafaf;
    width:25%;
    margin:1%;
    height:120px;
    max-width: 33%;
    text-align: center;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    transition: all 0.3s linear;
}
.s1-card-text{
    color:#afafaf;
    font-size:12px;
    margin-bottom: 5px;;
}
.s-1-card:hover{
    background-color: #fff;
    padding:20px 5px 10px;
    box-sizing: unset;

}
.s-1-card:hover .s1-card-text{
    color:#000;
    font-size: 14px;
}
.code-txt{
    color:#000;
    font-size:20px;
    text-decoration: underline;
}
.display-block{
    display: block!important;
}

.floating-animation{
    animation: floating 10s 1600ms infinite linear;
}
@keyframes floating {
    0%, 100% {
        transform: translate(0,0);
    }
    25% {
        transform: translate(10px,calc(0% + 10px));
    }
    50% {
        transform: translate(0px,calc(0% + 5px));
    }
    75% {
        transform: translate(-10px,calc(0% + 10px));
    }
}
.share-icon span{
    font-size:20px;
    padding:10px;
    margin-left:10px;
    background:white;
    border-radius: 50%;
}
  
  .btn-custom-red{
    padding:13px 20px;
    background-color:#FF1E46;
    border-radius: 50px 0 0 50px;
    color:#fff;
    font-size:15px;
    border:none;
  }
  .btn-custom:hover,.btn-custom-red:hover{
    background-color: #183457;
    color:#fff;
  }
  .btn-social{
    width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  }
  .btn-custom-fb{
    background-color: #3B5998;
  color: white;
  }
  .btn-custom-google{
    background-color: #dd4b39;
  color: white;
  }
.dropdown-item:hover{
    background-color: transparent;
    color:#297BBE;
    cursor: pointer;
}

 @media (max-width: 576px) { 
    .jersey-center{
        margin:0 0 0 10%;
    }
    .landing-main-text{
        width:90%;
        left:5%;
    }
    #landingSubtitle{
        width:70%;
    }
    .big-text{
        font-size:2rem;
    }
    .big-text2{
        font-size:1.5rem;
    }
    .normal-text{
        font-size: 1rem;
    }
    .story-grid{
        width:60%;
        margin:auto;
    }
    .popup{
        padding:10% 5%;
    }
 }
 /* Small devices (landscape phones, less than 768px)*/
 @media (max-width: 767.98px) { 
    
  }
 
 /* Medium devices (tablets, less than 992px)*/
 @media only screen and (max-width: 991.98px) { 
    .jersey-center{
        margin:0 0 0 10%;
    }
    .landing-main-text{
        width:90%;
        left:5%;
    }
    #landingSubtitle{
        width:70%;
    }
    .big-text{
        font-size:2rem;
    }
    .big-text2{
        font-size:1.5rem;
    }
    .normal-text{
        font-size: 1rem;
    }
    .story-grid{
        width:100%;
        margin:auto;
    }
    .popup{
        padding:10% 5%;
    }
  }
 
 /* Large devices (desktops, less than 1200px)*/
 @media (max-width: 1199.98px) { 
    
  }
 
 /* X-Large devices (large desktops, less than 1400px)*/
 @media (max-width: 1399.98px) { 
    
  }